In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv(r'movies.csv', index_col = 0)

In [3]:
movies

,name,industry,genre,language,duration,rating
id,,,,,,
1,Baahubali,Tollywood,Action,Telugu,170,9.5
2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
3,Uri - The Surgical Strike,Bollywood,Action,Hindi,120,10.0
4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
5,Avengers - End Game,Hollywood,Action,English,180,9.0
6,Tenet,Hollywood,SciFI,English,150,8.5
7,Major,Bollywood,Action,Hindi,140,8.0
8,Interstellar,Hollywood,SciFi,English,190,7.0
9,Gravity,Hollywood,SciFi,English,130,6.0
10,Titanic,Hollywood,Drama,English,180,9.0
11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
12,Houseful,Bollywood,Comedy,Hindi,150,6.0
13,The Dictator,Hollywood,Comedy,English,120,7.0
14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
15,Sholay,Bollywood,Drama,Hindi,150,8.5

### Question 1: Find the longest movie

In [4]:
movies['duration'].max()

190

In [5]:
movies['duration'].argmax()

7

In [6]:
movies['name'][movies['duration'].argmax()]

'Major'

### Question 2: Number of movies who got 10 rating

In [7]:
movies['rating'] == 10

id
1     False
2     False
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: rating, dtype: bool

In [8]:
movies['name'][movies['rating'] == 10]

id
3    Uri - The Surgical Strike
4                         DDLJ
Name: name, dtype: object

In [9]:
len(movies['name'][movies['rating'] == 10])

2

In [10]:
sum(movies['rating'] == 10)

2

### Question 3: How many industries are there

In [11]:
movies['industry'].value_counts()

Bollywood    8
Hollywood    6
Tollywood    1
Name: industry, dtype: int64

In [12]:
movies['industry'].value_counts().count()

3

In [13]:
len(movies['industry'].value_counts())

3

In [14]:
movies['industry'].nunique()

3

In [15]:
movies['industry'].unique()

array(['Tollywood', 'Bollywood', 'Hollywood'], dtype=object)

### Question 4: Find the least liked comedy movie

In [16]:
movies['genre'] == 'Comedy'

id
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13     True
14     True
15    False
Name: genre, dtype: bool

In [17]:
movies['name'][movies[movies['genre'] == 'Comedy']['rating'].idxmin()]

'Houseful'

### Question 5: Longest English movie name

In [18]:
movies['name'][movies[movies['language'] == 'English']['duration'].idxmax()]

'Interstellar'

### Question 6: What is the genre of Interstellar

In [19]:
movies['genre'][movies['name'] == 'Interstellar']

id
8    SciFi
Name: genre, dtype: object

It gives the output in Seires data type, so we will convert it into numpy array datatype

In [20]:
movies['genre'][movies['name'] == 'Interstellar'].values[0]

'SciFi'

In [21]:
movies['genre'][movies['name'].str.lower() == 'Interstellar'.lower()].values[0]

'SciFi'

In [22]:
names = movies['name']

In [23]:
names.values

array(['Baahubali', 'Brahmastra', 'Uri - The Surgical Strike', 'DDLJ',
       'Avengers - End Game', 'Tenet', 'Major', 'Interstellar', 'Gravity',
       'Titanic', 'Yeh Jawani Hai Deewani', 'Houseful', 'The Dictator',
       'Hera Pheri', 'Sholay'], dtype=object)

In [24]:
names.str.capitalize()

id
1                     Baahubali
2                    Brahmastra
3     Uri - the surgical strike
4                          Ddlj
5           Avengers - end game
6                         Tenet
7                         Major
8                  Interstellar
9                       Gravity
10                      Titanic
11       Yeh jawani hai deewani
12                     Houseful
13                 The dictator
14                   Hera pheri
15                       Sholay
Name: name, dtype: object

In [25]:
names.str.casefold()

id
1                     baahubali
2                    brahmastra
3     uri - the surgical strike
4                          ddlj
5           avengers - end game
6                         tenet
7                         major
8                  interstellar
9                       gravity
10                      titanic
11       yeh jawani hai deewani
12                     houseful
13                 the dictator
14                   hera pheri
15                       sholay
Name: name, dtype: object

In [26]:
names.str.count('e')

id
1     0
2     0
3     2
4     0
5     3
6     2
7     0
8     2
9     0
10    0
11    3
12    1
13    1
14    2
15    0
Name: name, dtype: int64

In [27]:
names.str.endswith('i')

id
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14     True
15    False
Name: name, dtype: bool

In [28]:
names.str.find('e')

id
1    -1
2    -1
3     8
4    -1
5     2
6     1
7    -1
8     3
9    -1
10   -1
11    1
12    4
13    2
14    1
15   -1
Name: name, dtype: int64

In [29]:
names.str.get(-3)

id
1     a
2     t
3     i
4     D
5     a
6     n
7     j
8     l
9     i
10    n
11    a
12    f
13    t
14    e
15    l
Name: name, dtype: object

In [30]:
names.str.get_dummies()

,Avengers - End Game,Baahubali,Brahmastra,DDLJ,Gravity,Hera Pheri,Houseful,Interstellar,Major,Sholay,Tenet,The Dictator,Titanic,Uri - The Surgical Strike,Yeh Jawani Hai Deewani
id,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
8,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
14,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [31]:
movies['genre'].str.get_dummies()

    Action  Comedy  Drama  Mystereous  Romantic  SciFI  SciFi
id
1        1       0      0           0         0      0      0
2        0       0      0           1         0      0      0
3        1       0      0           0         0      0      0
4        0       0      0           0         1      0      0
5        1       0      0           0         0      0      0
6        0       0      0           0         0      1      0
7        1       0      0           0         0      0      0
8        0       0      0           0         0      0      1
9        0       0      0           0         0      0      1
10       0       0      1           0         0      0      0
11       0       0      0           0         1      0      0
12       0       1      0           0         0      0      0
13       0       1      0           0         0      0      0
14       0       1      0           0         0      0      0
15       0       0      1           0         0      0      0

In [32]:
#names.str.index('e')

In [33]:
names.str.join('.')

id
1                                     B.a.a.h.u.b.a.l.i
2                                   B.r.a.h.m.a.s.t.r.a
3     U.r.i. .-. .T.h.e. .S.u.r.g.i.c.a.l. .S.t.r.i.k.e
4                                               D.D.L.J
5                 A.v.e.n.g.e.r.s. .-. .E.n.d. .G.a.m.e
6                                             T.e.n.e.t
7                                             M.a.j.o.r
8                               I.n.t.e.r.s.t.e.l.l.a.r
9                                         G.r.a.v.i.t.y
10                                        T.i.t.a.n.i.c
11          Y.e.h. .J.a.w.a.n.i. .H.a.i. .D.e.e.w.a.n.i
12                                      H.o.u.s.e.f.u.l
13                              T.h.e. .D.i.c.t.a.t.o.r
14                                  H.e.r.a. .P.h.e.r.i
15                                          S.h.o.l.a.y
Name: name, dtype: object

In [34]:
names.str.split('e').str.join('--+--')

id
1                              Baahubali
2                             Brahmastra
3      Uri - Th--+-- Surgical Strik--+--
4                                   DDLJ
5        Av--+--ng--+--rs - End Gam--+--
6                          T--+--n--+--t
7                                  Major
8                   Int--+--rst--+--llar
9                                Gravity
10                               Titanic
11    Y--+--h Jawani Hai D--+----+--wani
12                          Hous--+--ful
13                      Th--+-- Dictator
14                    H--+--ra Ph--+--ri
15                                Sholay
Name: name, dtype: object

In [35]:
names.str.strip()

id
1                     Baahubali
2                    Brahmastra
3     Uri - The Surgical Strike
4                          DDLJ
5           Avengers - End Game
6                         Tenet
7                         Major
8                  Interstellar
9                       Gravity
10                      Titanic
11       Yeh Jawani Hai Deewani
12                     Houseful
13                 The Dictator
14                   Hera Pheri
15                       Sholay
Name: name, dtype: object

In [36]:
movies['genre'][movies['name'].str.strip().str.lower() == 'Interstellar'.lower()].values[0]

'SciFi'

### Question 7: What is the average duration of each genre

In [37]:
movies['genre'].unique()

array(['Action', 'Mystereous', 'Romantic', 'SciFI', 'SciFi', 'Drama',
       'Comedy'], dtype=object)

In [38]:
movies['genre'].nunique()

7

In [39]:
movies['genre'].value_counts()

Action        4
Comedy        3
Romantic      2
SciFi         2
Drama         2
Mystereous    1
SciFI         1
Name: genre, dtype: int64

In [40]:
for genre in movies['genre'].unique():
    print(genre)

Action
Mystereous
Romantic
SciFI
SciFi
Drama
Comedy

In [41]:
for genre in movies['genre'].unique():
    print(genre, movies[movies['genre'] == genre]['duration'].mean())

Action 152.5
Mystereous 180.0
Romantic 150.0
SciFI 150.0
SciFi 160.0
Drama 165.0
Comedy 136.66666666666666

In [42]:
movies.groupby('genre')['duration'].mean()

genre
Action        152.500000
Comedy        136.666667
Drama         165.000000
Mystereous    180.000000
Romantic      150.000000
SciFI         150.000000
SciFi         160.000000
Name: duration, dtype: float64

In [43]:
movies.groupby(['genre', 'industry'])['duration'].mean()

genre       industry
Action      Bollywood    130.0
            Hollywood    180.0
            Tollywood    170.0
Comedy      Bollywood    145.0
            Hollywood    120.0
Drama       Bollywood    150.0
            Hollywood    180.0
Mystereous  Bollywood    180.0
Romantic    Bollywood    150.0
SciFI       Hollywood    150.0
SciFi       Hollywood    160.0
Name: duration, dtype: float64

In [44]:
movies.groupby(['industry', 'genre'])['duration'].mean()

industry   genre
Bollywood  Action        130.0
           Comedy        145.0
           Drama         150.0
           Mystereous    180.0
           Romantic      150.0
Hollywood  Action        180.0
           Comedy        120.0
           Drama         180.0
           SciFI         150.0
           SciFi         160.0
Tollywood  Action        170.0
Name: duration, dtype: float64

In [45]:
movies.describe()

         duration     rating
count   15.000000  15.000000
mean   153.333333   7.833333
std     22.253946   1.718249
min    120.000000   5.000000
25%    140.000000   6.500000
50%    150.000000   8.500000
75%    175.000000   9.000000
max    190.000000  10.000000

In [46]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   industry  15 non-null     object
 2   genre     15 non-null     object
 3   language  15 non-null     object
 4   duration  15 non-null     int64
 5   rating    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.4+ KB

In [47]:
movies.describe(include = 'all')

             name   industry   genre language    duration     rating
count          15         15      15       15   15.000000  15.000000
unique         15          3       7        3         NaN        NaN
top     Baahubali  Bollywood  Action    Hindi         NaN        NaN
freq            1          8       4        8         NaN        NaN
mean          NaN        NaN     NaN      NaN  153.333333   7.833333
std           NaN        NaN     NaN      NaN   22.253946   1.718249
min           NaN        NaN     NaN      NaN  120.000000   5.000000
25%           NaN        NaN     NaN      NaN  140.000000   6.500000
50%           NaN        NaN     NaN      NaN  150.000000   8.500000
75%           NaN        NaN     NaN      NaN  175.000000   9.000000
max           NaN        NaN     NaN      NaN  190.000000  10.000000

In [48]:
movies.groupby('industry').describe().T

industry         Bollywood   Hollywood  Tollywood
duration count    8.000000    6.000000        1.0
         mean   147.500000  158.333333      170.0
         std     16.690459   29.268869        NaN
         min    120.000000  120.000000      170.0
         25%    140.000000  135.000000      170.0
         50%    150.000000  165.000000      170.0
         75%    150.000000  180.000000      170.0
         max    180.000000  190.000000      170.0
rating   count    8.000000    6.000000        1.0
         mean     7.687500    7.750000        9.5
         std      2.086307    1.254990        NaN
         min      5.000000    6.000000        9.5
         25%      5.750000    7.000000        9.5
         50%      8.250000    7.750000        9.5
         75%      9.250000    8.875000        9.5
         max     10.000000    9.000000        9.5

.T at the end of any function transposes the whole output.

In [49]:
movies.groupby(['industry', 'genre']).describe()

                     duration                                                \
                        count   mean        std    min    25%    50%    75%
industry  genre
Bollywood Action          2.0  130.0  14.142136  120.0  125.0  130.0  135.0
          Comedy          2.0  145.0   7.071068  140.0  142.5  145.0  147.5
          Drama           1.0  150.0        NaN  150.0  150.0  150.0  150.0
          Mystereous      1.0  180.0        NaN  180.0  180.0  180.0  180.0
          Romantic        2.0  150.0   0.000000  150.0  150.0  150.0  150.0
Hollywood Action          1.0  180.0        NaN  180.0  180.0  180.0  180.0
          Comedy          1.0  120.0        NaN  120.0  120.0  120.0  120.0
          Drama           1.0  180.0        NaN  180.0  180.0  180.0  180.0
          SciFI           1.0  150.0        NaN  150.0  150.0  150.0  150.0
          SciFi           2.0  160.0  42.426407  130.0  145.0  160.0  175.0
Tollywood Action          1.0  170.0        NaN  170.0  170.0  170.0  170.0

                            rating
                        max  count mean       std  min   25%  50%   75%   max
industry  genre
Bollywood Action      140.0    2.0  9.0  1.414214  8.0  8.50  9.0  9.50  10.0
          Comedy      150.0    2.0  7.5  2.121320  6.0  6.75  7.5  8.25   9.0
          Drama       150.0    1.0  8.5       NaN  8.5  8.50  8.5  8.50   8.5
          Mystereous  180.0    1.0  5.0       NaN  5.0  5.00  5.0  5.00   5.0
          Romantic    150.0    2.0  7.5  3.535534  5.0  6.25  7.5  8.75  10.0
Hollywood Action      180.0    1.0  9.0       NaN  9.0  9.00  9.0  9.00   9.0
          Comedy      120.0    1.0  7.0       NaN  7.0  7.00  7.0  7.00   7.0
          Drama       180.0    1.0  9.0       NaN  9.0  9.00  9.0  9.00   9.0
          SciFI       150.0    1.0  8.5       NaN  8.5  8.50  8.5  8.50   8.5
          SciFi       190.0    2.0  6.5  0.707107  6.0  6.25  6.5  6.75   7.0
Tollywood Action      170.0    1.0  9.5       NaN  9.5  9.50  9.5  9.50   9.5

### Question 8: What is the average rating of each industry

In [50]:
movies.groupby('industry')['rating'].mean()

industry
Bollywood    7.6875
Hollywood    7.7500
Tollywood    9.5000
Name: rating, dtype: float64

### Questiuon 9: Average rating of romantic movies industry wise

In [51]:
movies[movies['genre'].str.lower() == 'romantic'].groupby('industry')['rating'].mean()

industry
Bollywood    7.5
Name: rating, dtype: float64

### Question 10: List down all the english mmovies with their respective ratings in descending order.

In [52]:
movies[movies['language'].str.lower() == 'english'][['name', 'rating']].sort_values(by = 'rating', ascending = False)

                   name  rating
id
5   Avengers - End Game     9.0
10              Titanic     9.0
6                 Tenet     8.5
8          Interstellar     7.0
13         The Dictator     7.0
9               Gravity     6.0