In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv(r'movies.csv')

In [3]:
movies

,id,name,industry,genre,language,duration,rating
0,1,Baahubali,Tollywood,Action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri - The Surgical Strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers - End Game,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFI,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Interstellar,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

### Question 1: Fid the longest movie

In [4]:
movies['duration'].max()

190

In [5]:
movies['duration'].argmax()

7

In [6]:
movies['name'][movies['duration'].argmax()]

'Interstellar'

### Question 2: Number of movies who got 10 rating

In [7]:
movies['rating'] == 10

0     False
1     False
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: rating, dtype: bool

In [8]:
movies['name'][movies['rating'] == 10]

2    Uri - The Surgical Strike
3                         DDLJ
Name: name, dtype: object

In [9]:
len(movies['name'][movies['rating'] == 10])

2

In [10]:
sum(movies['rating'] == 10)

2

### Question 3: How many industries are there

In [11]:
movies['industry'].value_counts()

Bollywood    8
Hollywood    6
Tollywood    1
Name: industry, dtype: int64

In [12]:
movies['industry'].value_counts().count()

3

In [13]:
len(movies['industry'].value_counts())

3

In [14]:
movies['industry'].nunique()

3

In [15]:
movies['industry'].unique()

array(['Tollywood', 'Bollywood', 'Hollywood'], dtype=object)

### Question 4: Find the least liked comedy movie

In [16]:
movies['genre'] == 'Comedy'

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14    False
Name: genre, dtype: bool

In [17]:
movies['name'][movies[movies['genre'] == 'Comedy']['rating'].idxmin()]

'Houseful'

### Question 5: Longest English movie name

In [18]:
movies['name'][movies[movies['language'] == 'English']['duration'].idxmax()]

'Interstellar'

### Question 6: What is the genre of Interstellar

In [19]:
movies['genre'][movies['name'] == 'Interstellar']

7    SciFi
Name: genre, dtype: object

It gives the output in Seires data type, so we will convert it into numpy array datatype

In [20]:
movies['genre'][movies['name'] == 'Interstellar'].values[0]

'SciFi'

In [21]:
movies['genre'][movies['name'].str.lower() == 'Interstellar'.lower()].values[0]

'SciFi'

In [25]:
names = movies['name']

In [26]:
names.values

array(['Baahubali', 'Brahmastra', 'Uri - The Surgical Strike', 'DDLJ',
       'Avengers - End Game', 'Tenet', 'Major', 'Interstellar', 'Gravity',
       'Titanic', 'Yeh Jawani Hai Deewani', 'Houseful', 'The Dictator',
       'Hera Pheri', 'Sholay'], dtype=object)

In [27]:
names.str.capitalize()

0                     Baahubali
1                    Brahmastra
2     Uri - the surgical strike
3                          Ddlj
4           Avengers - end game
5                         Tenet
6                         Major
7                  Interstellar
8                       Gravity
9                       Titanic
10       Yeh jawani hai deewani
11                     Houseful
12                 The dictator
13                   Hera pheri
14                       Sholay
Name: name, dtype: object

In [28]:
names.str.casefold()

0                     baahubali
1                    brahmastra
2     uri - the surgical strike
3                          ddlj
4           avengers - end game
5                         tenet
6                         major
7                  interstellar
8                       gravity
9                       titanic
10       yeh jawani hai deewani
11                     houseful
12                 the dictator
13                   hera pheri
14                       sholay
Name: name, dtype: object

In [29]:
names.str.count('e')

0     0
1     0
2     2
3     0
4     3
5     2
6     0
7     2
8     0
9     0
10    3
11    1
12    1
13    2
14    0
Name: name, dtype: int64

In [31]:
names.str.endswith('i')

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13     True
14    False
Name: name, dtype: bool

In [32]:
names.str.find('e')

0    -1
1    -1
2     8
3    -1
4     2
5     1
6    -1
7     3
8    -1
9    -1
10    1
11    4
12    2
13    1
14   -1
Name: name, dtype: int64

In [35]:
names.str.get(-3)

0     a
1     t
2     i
3     D
4     a
5     n
6     j
7     l
8     i
9     n
10    a
11    f
12    t
13    e
14    l
Name: name, dtype: object

In [36]:
names.str.get_dummies()

,Avengers - End Game,Baahubali,Brahmastra,DDLJ,Gravity,Hera Pheri,Houseful,Interstellar,Major,Sholay,Tenet,The Dictator,Titanic,Uri - The Surgical Strike,Yeh Jawani Hai Deewani
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [37]:
movies['genre'].str.get_dummies()

    Action  Comedy  Drama  Mystereous  Romantic  SciFI  SciFi
0        1       0      0           0         0      0      0
1        0       0      0           1         0      0      0
2        1       0      0           0         0      0      0
3        0       0      0           0         1      0      0
4        1       0      0           0         0      0      0
5        0       0      0           0         0      1      0
6        1       0      0           0         0      0      0
7        0       0      0           0         0      0      1
8        0       0      0           0         0      0      1
9        0       0      1           0         0      0      0
10       0       0      0           0         1      0      0
11       0       1      0           0         0      0      0
12       0       1      0           0         0      0      0
13       0       1      0           0         0      0      0
14       0       0      1           0         0      0      0

In [41]:
#names.str.index('e')

In [42]:
names.str.join('.')

0                                     B.a.a.h.u.b.a.l.i
1                                   B.r.a.h.m.a.s.t.r.a
2     U.r.i. .-. .T.h.e. .S.u.r.g.i.c.a.l. .S.t.r.i.k.e
3                                               D.D.L.J
4                 A.v.e.n.g.e.r.s. .-. .E.n.d. .G.a.m.e
5                                             T.e.n.e.t
6                                             M.a.j.o.r
7                               I.n.t.e.r.s.t.e.l.l.a.r
8                                         G.r.a.v.i.t.y
9                                         T.i.t.a.n.i.c
10          Y.e.h. .J.a.w.a.n.i. .H.a.i. .D.e.e.w.a.n.i
11                                      H.o.u.s.e.f.u.l
12                              T.h.e. .D.i.c.t.a.t.o.r
13                                  H.e.r.a. .P.h.e.r.i
14                                          S.h.o.l.a.y
Name: name, dtype: object

In [46]:
names.str.split('e').str.join('--+--')

0                              Baahubali
1                             Brahmastra
2      Uri - Th--+-- Surgical Strik--+--
3                                   DDLJ
4        Av--+--ng--+--rs - End Gam--+--
5                          T--+--n--+--t
6                                  Major
7                   Int--+--rst--+--llar
8                                Gravity
9                                Titanic
10    Y--+--h Jawani Hai D--+----+--wani
11                          Hous--+--ful
12                      Th--+-- Dictator
13                    H--+--ra Ph--+--ri
14                                Sholay
Name: name, dtype: object

In [47]:
names.str.strip()

0                     Baahubali
1                    Brahmastra
2     Uri - The Surgical Strike
3                          DDLJ
4           Avengers - End Game
5                         Tenet
6                         Major
7                  Interstellar
8                       Gravity
9                       Titanic
10       Yeh Jawani Hai Deewani
11                     Houseful
12                 The Dictator
13                   Hera Pheri
14                       Sholay
Name: name, dtype: object

In [50]:
movies['genre'][movies['name'].str.strip().str.lower() == 'Interstellar'.lower()].values[0]

'SciFi'

### Question 7: What is the average duration of each genre

In [51]:
movies['genre'].unique()

array(['Action', 'Mystereous', 'Romantic', 'SciFI', 'SciFi', 'Drama',
       'Comedy'], dtype=object)

In [52]:
movies['genre'].nunique()

7

In [53]:
movies['genre'].value_counts()

Action        4
Comedy        3
Romantic      2
SciFi         2
Drama         2
Mystereous    1
SciFI         1
Name: genre, dtype: int64

In [55]:
for genre in movies['genre'].unique():
    print(genre)

Action
Mystereous
Romantic
SciFI
SciFi
Drama
Comedy

In [56]:
for genre in movies['genre'].unique():
    print(genre, movies[movies['genre'] == genre]['duration'].mean())

Action 152.5
Mystereous 180.0
Romantic 150.0
SciFI 150.0
SciFi 160.0
Drama 165.0
Comedy 136.66666666666666

In [57]:
movies.groupby('genre')['duration'].mean()

genre
Action        152.500000
Comedy        136.666667
Drama         165.000000
Mystereous    180.000000
Romantic      150.000000
SciFI         150.000000
SciFi         160.000000
Name: duration, dtype: float64

In [58]:
movies.groupby(['genre', 'industry'])['duration'].mean()

genre       industry
Action      Bollywood    130.0
            Hollywood    180.0
            Tollywood    170.0
Comedy      Bollywood    145.0
            Hollywood    120.0
Drama       Bollywood    150.0
            Hollywood    180.0
Mystereous  Bollywood    180.0
Romantic    Bollywood    150.0
SciFI       Hollywood    150.0
SciFi       Hollywood    160.0
Name: duration, dtype: float64

In [59]:
movies.groupby(['industry', 'genre'])['duration'].mean()

industry   genre
Bollywood  Action        130.0
           Comedy        145.0
           Drama         150.0
           Mystereous    180.0
           Romantic      150.0
Hollywood  Action        180.0
           Comedy        120.0
           Drama         180.0
           SciFI         150.0
           SciFi         160.0
Tollywood  Action        170.0
Name: duration, dtype: float64